html{
    height: 100%;
    width: 100%;
}

body main {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 3rem;
}

header.cabecario{
   position: fixed;
   left: 0%;
   top: 0%;
   width: 100%;
   height: 3rem;
   background-color: rgb(0, 208, 255);
   align-items: center;
   box-shadow: 0 0.2rem 0.4rem rgba(0,0,0,.5);
}

header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding-right: 3rem;
    margin-top: 0rem;
}

h1#title{
    font-size: 1.5rem;
}

header img {
    width: 2rem;
    height: 2rem;
}

#tri_vaga{
    width: 2rem;
    height: 2rem;
}

.atras {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}

.popup{
    top: 10%;
    left: 25%;
    right: 25%;
    width: 50%;
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.fake_header{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    height: 3rem;
    font-size: 1.5rem;
}

.piso_inic{
    font-size: 5rem;
    font-weight: bold;
}

.botao_taf{
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    z-index: 1;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 2.25rem;
    border-color: transparent;
    background-color: orange;
    /* Funções aleatórias que se der problema apaguem*/
    box-shadow: 0 3px 8px rgba(0,0,0,.5);
    cursor: pointer;
}
img#taf{
    margin-left: 0.75rem;
    margin-top: 0.75rem;
    width: 3rem;
    height: 3rem;
}
img#voltar{
    width: 2rem;
    height: 2rem;
}
.margem_inf{
    width: 100%;
    padding-bottom: 1rem;
    border-bottom: solid grey 0.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coluna {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 3rem;
    margin-right: 3rem;
}
.linha{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-left: 0%;
}

ul.retirar{
    list-style: none;
    font-size: 30%;
}
.fake_main{
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
}
.alinhamento{
    padding-left: 1rem;
}

div.coluna div.linha p{
    font-size: 2rem;
}
div.linha img{
    width: 2rem;
    height: 2rem;
}

/*@media (max-width: 500px) {
    div.popup p{
        font-size: 1rem;
    }
    .popup{
        left: 15%;
        right: 15%;
        width: 70%;
    }
}*/

a.botao_leg{
    border: solid black;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

a.botao_config{
    border: solid black;
    margin: 00.5rem;
    padding: 0.25rem;
    width: 23%;
}
h1#vaga{
    border: solid black 0.1rem;
    padding: 0.5rem;
    margin-top: 10%;
    font-size: 2rem;
}

ul#align_cli{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding-left: 0%;
}

li#align_cli_img{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.75rem;
}

img#perfil{
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
}

h1#piso_1{
    margin-left: 25%;
    margin-right: 25%;
}

.setas{
    width: 1rem;
    height: 1rem;
}

a#botao_hist{
    position: relative;
    align-items: center;
    border: solid black 0.1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 2rem;
}

img#hist{
    width: 2rem;
    right: 2rem;
    margin-right: 01rem;
}

.linha2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-left: 0%;
}
img.first{
    padding: 1rem;
    background-color: coral;
}

img.second{
    padding: 1rem;
    background-color:crimson;
}

.voltar_piso1{
    position: absolute;
    left: 25%;
}
#main_analise_hist {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid black 0.1rem;
    margin-top: 4rem;
    margin-left: 3rem;
    margin-right: 3rem;
    padding-top: 0%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(209, 234, 255);
}
image.leg{
    height: 1rem;
    width: 1rem;
}
