html{
    height: 100%;
    width: 100%;
    font-family: 'Saira', 'Cairo',  sans-serif;
}

body main {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 3rem;
}

header.cabecario{
   position: fixed;
   left: 0%;
   top: 0%;
   width: 100%;
   height: 3rem;
   background-color: #3859E2;
   align-items: center;
   box-shadow: 0 0.2rem 0.4rem rgba(0,0,0,.5);
   z-index: 5;
   color: #ffffff;
}

header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding-right: 3rem;
    margin-top: 0rem;

}

h1#title{
    font-size: 1.5rem;
}

header img {
    width: 2rem;
    height: 2rem;
}

#tri_vaga{
    width: 2rem;
    height: 2rem;
}

.atras {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}

.popup_tarefa{
    top: 10%;
    left: 12.5%;
    width: 75%;
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    background-color: white;
    background:rgb(255, 255, 255);
    visibility:hidden;
}

.popup{
    top: 10%;
    left: 12.5%;
    width: 75%;
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    background-color: white;
    background:rgb(255, 255, 255)
}

.fake_header{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    height: 3rem;
    font-size: 1.5rem;
}
.popup_vaga_oc{
    height: 3rem;
    width: 3rem;
    background-color: #3859E2;
}
.piso_inic{
    font-size: 3rem;
    font-weight: bold;
}
.piso_inic a{
    text-decoration:none;
    color: black;
}
.botao_taf{
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    z-index: 1;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 2.25rem;
    border-color: transparent;
    background-color: #E6D600;
    /* Funções aleatórias que se der problema apaguem*/
    box-shadow: 0 3px 8px rgba(0,0,0,.5);
    cursor: pointer;
}
img#taf{
    margin-left: auto;
    margin-top: auto;
    width: 3rem;
    height: 3rem;
}
img#voltar{
    width: 2rem;
    height: 2rem;
    z-index: -1;
}
.margem_inf{
    width: 100%;
    padding-bottom: 1rem;
    border-bottom: solid grey 0.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coluna {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 3rem;
    margin-right: 3rem;
}
.linha{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-left: 0%;
}

ul.retirar{
    list-style: none;
    font-size: 30%;
}
.fake_main{
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
}
.alinhamento{
    list-style: none;
    padding-left: 0rem;
    font-size: 1.5rem;
    margin: 0.25rem;
}

div.coluna div.linha p{
    font-size: 2rem;
}
div.linha img{
    width: 2rem;
    height: 2rem;
}

/*@media (max-width: 500px) {
    div.popup p{
        font-size: 1rem;
    }
    .popup{
        left: 15%;
        right: 15%;
        width: 70%;
    }
}*/

a.botao_leg{
    background-color: #A8B2CD;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

a.botao_config{
    border: solid black;
    margin: 00.5rem;
    padding: 0.25rem;
    width: 23%;
}
h1#vaga{
    border: solid black 0.1rem;
    padding: 0.5rem;
    margin-top: 10%;
    font-size: 2rem;
}

ul#align_cli{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding-left: 0%;
}

li#align_cli_img{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.75rem;
}

img#perfil{
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
}

h1#piso_1{
    margin-left: 25%;
    margin-right: 25%;
}

.setas{
    width: 1rem;
    height: 1rem;
}

a#botao_hist{
    position: relative;
    align-items: center;
    background-color: #3859E2;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 2rem;
    color: white;
    text-decoration:none;
}

img#hist{
    width: 2rem;
    right: 2rem;
    margin-right: 01rem;
}

.linha2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-left: 0%;
}
img.first{
    padding: 1rem;
    background-color: #FF7C1C;
}

img.second{
    padding: 1rem;
    background-color:#D30003;
}

.voltar_piso1{
    position: absolute;
    left: 25%;
}
#main_analise_hist {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    margin-left: 3rem;
    margin-right: 3rem;
    padding-top: 0%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #A8B2CD;
}
image.leg{
    height: 1rem;
    width: 1rem;
}

.voltar_hist{
    margin-right: 13rem;
}

.body_menu{
    position: fixed;
    left: 0rem;
    top: 0%;
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    box-shadow: 0 0.2rem 0.4rem rgba(0,0,0,.5);
    background-color: white;
    z-index: 11;
}

.main_menu{
    padding-top: 1rem;
}

h1#title_menu{
    font-size: 0.6rem;
    color: white;
    margin-left: 0.75rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
}
.botao_menu_abrir{
    background: rgba(0,0,0,0);
    border: 0rem;
}
#icone_menu{
    width: 2rem;
    height: 2rem;
    padding-top: 0rem;
}
ul#alinha_menu{
    padding-left: 0rem;
    padding-right: 1rem;
    margin-top: 0rem;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    margin-bottom: 0rem;
    margin-top: 7px;

}

#header_menu{
    background-color: #3859E2;
    width: 100%;
    height: 3rem;

}

ul#retirar_menu{
    list-style: none;
    padding-left: 0rem;
    font-size: 2rem;
    margin: 0.5rem;
}

.coluna_piso1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 3rem;
    margin-right: 3rem;
}
div.coluna_piso1 div.linha{
    height: 3rem;
    font-size: 2rem;

}
#dest{
    font-size: 1rem;
}

#anim_abrir{
    animation-name: abrir_menu;
    animation-duration: 2s;  
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}
@keyframes abrir_menu {
    from {transform: rotate(0deg) scale(1) skew(0deg) translate(-100%);}
    to {transform: rotate(0deg) scale(1) skew(0deg) translate(0%);}
}

#anim_fechar{
    animation-name: fechar_menu;
    animation-duration: 2s;  
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
@keyframes fechar_menu {
    from {transform: rotate(0deg) scale(1) skew(0deg) translate(0%);}
    to {transform: rotate(0deg) scale(1) skew(0deg) translate(-100%);}
  }

#menu{
    left: -100%;
}
.botao_menu_fechar{
    background: rgba(0,0,0,0);
    border: 0rem;
}

.popup_registro{
    top: 10%;
    left: 12.5%;
    width: 75%;
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    background-color: white;
    background:rgb(255, 255, 255);
    visibility:hidden;
}

.popup_retirada{
    top: 10%;
    left: 12.5%;
    width: 75%;
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    background-color: white;
    background:rgb(255, 255, 255);
    visibility:hidden;
}
